{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "proseWrap": "never",
  "embeddedLanguageFormatting": "off",
  "svelteBracketNewLine": true,
  "svelteSortOrder": "scripts-markup-styles"
}
